body {
  background-color: #e6e6e6;
  position: relative;
}

hr {
  border: 1px solid lightgray;
}

.light-border {
  background-color: #fff;
  border-style: solid;
  border-width: 0px 1px;
  border-color: rgb(223,223,223);
}

.about {
  background-color: rgb(238, 238, 238);
}

.portfolio {
  background-color: #71C171;
}

.contact-me, .footer {
  background-color: #f0ad4e;
}
